/* Regla CSS consta de 2 partes
1) el selector
2)bloque de declaraciones:{

  atributos:valor;
  atributo-de-mas-dos-palabras:otro-valor
} */
/* son mala pra´ctica porque son bloqueantes a la hora de que el navegador lee esta instrucción, enc ss normalito en SASS no hay manera ojo!! */
@import url("otra-hoja.css");

h1{
  color: orangered;
  background-color: black ;
}

/* 
Selectores Básicos
1)Etiquetas-Elementos html
2)identificadores-atributo - id - #
3)clases - atributo class - . */